<section class="vh-100" style="background-color: #dcd8d9;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/images/login.jpg"
                  alt="register form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form (ngSubmit)="onRegister()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Register</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
                    <div class="form-outline mb-4">
                      <input type="text" id="username" name="username" class="form-control form-control-lg" [(ngModel)]="register.username" required />
                      <label class="form-label" for="username">User Name</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="email" name="email" class="form-control form-control-lg" [(ngModel)]="register.email" required />
                        <label class="form-label" for="email">Email</label>
                      </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="register.password" required />
                      <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a [routerLink]="['/login']" style="color: #393f81;">Login here</a></p>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  